[submodule "govstaking/lib/forge-std"]
	path = govstaking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "govstaking/lib/openzeppelin-contracts"]
	path = govstaking/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "staker/lib/forge-std"]
	path = staker/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "staker/lib/openzeppelin-contracts"]
	path = staker/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
